node_modules/
.DS_Store
*.log

_references/

src/assets/images/_incoming/
src/assets/images/_review/
src/assets/videos/_incoming/
src/assets/videos/_review/

assets/dist/images/_incoming/
assets/dist/images/_review/
assets/dist/videos/_incoming/
assets/dist/videos/_review/

*.zip
*-inline.html
